.input-container {
  padding-top: 12px;
  height: 66px;
  overflow: hidden;
  font-weight: 100;
  font-size: 50px;
  white-space: nowrap;
  word-spacing: -12px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: right;
  background-color: inherit;
  color: white;
  div {
    float: right;
  }
}